h1 {
  display: inline-block;
  font-family: Barrio, serif;
  line-height: 18px;
  opacity: 0.5;
  padding: 6px 16px 3px 16px;
}

h1, h5, p {
  color: darken($chatbar-color, 12);
}

h5 {
  float: right;
  line-height: 30px;
  opacity: 0.6;
}

p {
  line-height: 1.6em;
  margin: 0;
}
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
    @import url('https://fonts.googleapis.com/css?family=Barrio');
    @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

    body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }



    .chatbar {
      background-color: $chatbar-color;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid $border-color;
      border-radius: 8px;
       -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px $hl-color, 0 1px 0 $hl-color;
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px $hl-color, 0 1px 0 $hl-color;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px $hl-color, 0 1px 0 $hl-color;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
    }

    img.background-img {
      bottom: 0px;
      height: auto;
      padding-bottom: 10px;
      position: absolute;
      width: 100%;
    }

    input {
      background-color: transparent;
      box-shadow:inset 0 0 5px 5px #888;
      background: #fff;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-content {
      flex: 8;
    }

    .messageList {
      margin-top: 10%;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
      opacity: 0.4;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      background: $brand-color;
      border-bottom: 1px solid $border-color;
     @extend .shadow;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      float: left;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }
